body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(221, 221, 221);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 33, 33);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(62, 61, 67);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsl(0, 0%, 40%);
} /* wenn mit cursor da drueber dann ist die farbe heller*/
button:active{
    background-color: hsl(0, 0%, 50%);
} /* when drauf clicken flashen die button */

.operator-btn {
    background-color: rgb(255, 166, 0);
}
.operator-btn:hover {
    background-color: rgb(255, 183, 50);
}
.operator-btn:active {
    background-color: rgb(255, 202, 103)
}
